:root {
    --lightTeal: rgb(224, 251, 255);
    --teal: rgb(79, 249, 255);
    --purple: rgb(141, 68, 141);
    --lightPurple: rgb(255, 151, 255);
}


* {
    background-color: black;
    color: var(--lightTeal);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title {
    color: var(--teal);
    margin: 30px 0 80px 0;
    font-size: 50px;
}

.info {
    margin-bottom: 35px;
    font-size: 17px;
}

.scoreBtn {
    color: var(--lightPurple);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

#countdown {
    color: var(--lightPurple);
    font-weight: bold;
    font-size: 20px;
}

#btn-start {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.answerStyle {
    width: 25%;
    background-color: var(--purple);
    /* color: aliceblue; */
    color: var(--lightTeal);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
